.myCountrylist {
  background-color: rgb(216, 132, 36);
  padding: 20PX 20PX 20PX 30PX;
}

.myCountryListitem {
  height: 20px;
  background-color: #d1c2c2;
  border-bottom: 1px solid #000000;
  padding: 20px;
  color: #260aa0;
}

#us {
  color: #075a23;
}
.myUsersList {
  height: 300px;
  overflow: scroll;
}
.myNavbar {
  background-color: #260aa0;
  color: #ffffff;
  font-size: 20px;
  padding: 5px;
}
a {
  color: rgb(191, 16, 16);
  text-decoration: none;
}
h2 {
  color: #ff0000;
  font-size: 25px;
  text-align: left;
}
/* a:hover {
  color: red;
}
a:active {
  color: grey;
} */